* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg4.jpg);
}
a {
    color: #FFB8E0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav {
    width: 100%;
    background: none;
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    background-color: #FFB8E0;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav li {
    margin: 0 5px;
    padding-left: 0; 
}

nav li::before {
    content: none; 
}

nav li a {
    display: block;
    color: #333;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease;
}

nav li a:hover {
    background-color: #FFF2EB;
    color: #FFB8E0;
}
.cal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.box {
    background:  #FFB8E0;
    width: 30%;
    padding: 20px;
}
.inputvalue {
    background-color: white;
    font-size: 2em;
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    gap: 10px;
    padding-top: 10px;
}
.container .equal {
    grid-row: 4/6;
}