
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: image-set('bg.png');
    margin: 0;
}

h1 {
    color: #F5ECD5;
    text-shadow: -1px -1px 0 #578E7E,
    1px -1px 0 #578E7E,
    -1px 1px 0 #578E7E,
    1px 1px 0 #578E7E;
    margin-top: 0; 
}

.navbar{
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding: 0;
    background: linear-gradient(to right, #e74c3c, #f1c40f);
}
.home-button {
  margin-top: 2%;
  display: inline-block;
  padding: 10px 20px; 
  border: 2px solid #578E7E; 
  border-radius: 8px; 
  text-decoration: none; 
  color: #333; 
  background-color: #F5ECD5; 
  transition: background-color 0.3s ease; 
}

.home-button:hover {
  background-color: #578E7E; 
  color: #ffffff;
  border-color: #F5ECD5;
}

.profile-container {
    background-color: #FFFAEC;
    border: 3px solid #578E7E;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px #3D3D3D;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.profile-header {
    display: flex;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.profile-pic-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 3px solid #578E7E;
    box-shadow: 0 0 8px #3D3D3D;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    line-height: 1; 
}


input[type="file"] {
    display: none;
}

/* profile */
.profile-info {
    flex-grow: 1;
}

.profile-info p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
    display: flex;
    align-items: center;
}

.profile-info strong {
    color: #333;
    margin-right: 5px;
}

.edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    transition: transform 0.2s;
}

.edit-btn:hover {
    transform: scale(1.1);
}

.edit-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/* history */

.history-section h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
}

.history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.history-list li {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    color: #666;
}

.history-list li:last-child {
    border-bottom: none;
}