body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-image: url(bg4.jpg);
    color: #333;
}
img{
    width: 200px;
    margin-left: 50%;
}

a {
    color: #FFB8E0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: white;
    background-color: #FFB8E0;
}

nav {
    width: 100%;
    background: none;
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    background-color: #FFB8E0;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav li {
    margin: 0 5px;
    padding-left: 0; 
}

nav li::before {
    content: none; 
}

nav li a {
    display: block;
    color: #333;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease;
}

nav li a:hover {
    background-color: #FFF2EB;
    color: #FFB8E0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 5px;
    padding-bottom: 5px;
    justify-content: left;
}

.contact-info {
    font-size: 0.9em;
    color: #7f8c8d;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 0;
}

h3 {
    font-size: 1.5em;
    color: #34495e;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 15px;
    padding-left: 25px;
    position: relative;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
    color: #34495e;
    margin-bottom: 5px;
}

dd {
    margin-left: 20px;
    color: #555;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 30px;
}