@import url('_base.css');

.pink-text {
    font-family: 'Bubblegum Sans', sans-serif;
    color: #ff8fb0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    border-bottom: 1px solid #ffe6f0;
    padding: 20px 40px;
}


.top-menu {
    background-color: #ffe6f0;
    border: none;
}

.menu-item {
    border-right: none;
    color: #ff8fb0;
    font-size: 30px;
    padding: 8px 15px;
}


.menu-item.active { 
    background-color: #ffc2d1;
    color: #ff8fb0;
    border-radius: 15px;
}


.menu-item:not(.active):hover { 
    background-color: #f7e1e9; 
}


.heart-icon { 
    width: 70px; 
    margin-right: 10px;
}


.logo-text {
    font-family: 'Bubblegum Sans', sans-serif;
    color: #ff8fb0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
}


.section {
    padding-top: 20px;
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    position: relative;
    background-color: #ffffff;
    min-height: calc(100vh - 90px); 
}

.intro-content {
    background: url('bg4.jpg');
    font-size: larger;
    font-family: 'Bubblegum Sans', sans-serif;
    flex: 3;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.intro-content-inner {
    background-color: #ffc2d1; 
    padding: 60px 80px; 
    width: 100%; 
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting { 
    font-size: 38px; 
    font-weight: 300; 
    margin-bottom: 5px; 
    background-image: url('bg4.jpg'); 
    background-size: cover; 
    background-position: center;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;  
}
.name-heading { 
    font-size: 72px; 
    font-weight: 900; 
    line-height: 1.1; 
    margin: 0 0 10px 0; 
    background-image: url('bg4.jpg'); 
    background-size: cover; 
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
} 
.website-welcome { 
    font-size: 38px; 
    font-weight: 400; 
    margin-top: 15px; 
    margin-bottom: 30px; 
    color: #ffe6f0;
    background-image: url('bg4.jpg'); 
    background-size: cover; 
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
} 

.social-icon { 
    color: #ffe6f0; 
    font-size: 24px; 
    margin-right: 20px; 
    transition: color 0.2s;
}
.social-icon:hover { color: #ff8fb0; } 

.image-box {
    background-image: url("bg4.jpg");
    flex: 2;
    padding-right: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image-container { 
    width: 100%; 
    height: auto; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image { 
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2; 
    border: 1px solid #ffc2d1;
}

.image-shadow { 
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #ffc2d1; 
    top: 20px; 
    left: -20px;
    z-index: 1; 
}


.main-image-placeholder {
    width: 50%;
    height: 50%;
    background-color: #ffc2d1;
    border: 1px solid #ff8fb0;
    box-shadow: -15px 15px 0px rgba(255, 200, 220, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #e0b0c2;
}

@media (max-width: 1120px) {
    .hero-section { flex-direction: column; }
    .intro-content, .image-box { flex: 1; padding: 40px; }
    .name-heading { font-size: 48px; }
    .image-box { 
        padding-bottom: 20px; 
        height: 300px;
        box-shadow: none; 
    }
    .main-image-container {
        top: 0;
        left: 0;
    }
    .image-shadow {
        display: none;
    }
}