nav {
    width: 100%;
    background: none;
    text-align: center;
    margin-bottom: 90px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    background-color: #FFB8E0;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav li {
    margin: 0 5px;
    padding-left: 0; 
}

nav li::before {
    content: none; 
}

nav li a {
    display: block;
    color: #333;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease;
}

nav li a:hover {
    background-color: #FFF2EB;
    color: #FFB8E0;
}

body {
    background-image: url(bg4.jpg);
    display: flex;
    justify-content: center; 
    align-items: center;  
    min-height: 100vh;
    flex-direction: column; 
}

.clock {
    margin: 20;
    width: 300px;
    height: 300px;
    border: 15px solid #FFB8E0;
    border-radius: 50%;
    position: relative;
    box-shadow: 
        0 0 0 4px rgba(0, 0, 0, 0.1),
        inset 0 0 30px rgba(0, 0, 0, 0.1),
        0 20px 20px rgba(0, 0, 0, 0.3),
        inset 0 0 10px rgba(255, 255, 255, 0.8);
    background-color: white;
}

.hand {
    position: absolute;
    width: 50%;
    height: 6px;
    background: #FFB8E0;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    transform: rotate(90deg); 
    border-radius: 3px;
    transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
}
.second { background: #ff8fb0; width: 45%; height: 3px; }
.minute { background: #ffc2d1; width: 40%; height: 5px; }
.hour { background: #ffc2d1; width: 25%; height: 8px; }
.center-dot {
    width: 15px;
    height: 15px;
    background-color: #ffc2d1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.roman-numerals {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mark {
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 1.2em;
    font-weight: bold;
    color: #FFB8E0;
    text-align: center;
    line-height: 25px;
}



.twelve { 
    top: 3%; left: 47%; 
}
.one { 
    top: 11%; right: 18%;
} 
.two { 
    top: 30%; right: 6%; 
}
.three { 
    top: 47%; right: 2%; 
}
.four { 
    bottom: 30%; right: 6%; 
}
.five { 
    bottom: 11%; right: 18%; 
}
.six { 
    bottom: 3%; left: 48%; 
}
.seven { 
    bottom: 11%; left: 18%; 
}
.eight { 
    bottom: 30%; left: 6%; 
}
.nine { 
    top: 47%; left: 2%; 
}
.ten { 
    top: 30%; left: 6%; 
}
.eleven { 
    top: 11%; left: 18%; 
}